@import "../../assets/styles/vars.gcss";

.alert {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 30%;
  background-color: var(--c_alt);
  padding: 1rem;
  color: var(--c_txt);
  transition: all .5s ease-in;
  z-index: var(--z-alert);
}